// Specific CSS for your home-page
.prestaboxes{
  display: grid;
  grid-template-columns: 1fr 1fr;


}
.banner{
  background-color: white;
  color:rgb(255, 102, 0); ;
}
.intro{
  background-color: white;
  color: rgb(78, 82, 84);
}
.intro span{
  color: rgb(2, 136, 204);
}
.banner h1{
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
body{
  background-color: white;
}
