<div class="landing">

  <div class="banner">
    <h1>PLONGEE LOISIR MARSEILLE </h1>

    <%# <h1>NOUVEAU !</h1> %>

  </div>

  <div class="presta">

    <div class="intro">
      <h4>Parce qu'il en faut pour tous les gouts, pendant l'été, Plongee Tek Marseille vous propose son service de <span>Plongee Loisir !</span></h4><br>
      <p> Du 1er juin au 31 aout, Plongée Tek Marseille vous propose ses formations découverte et aventures pour explorer l'univers sous-marin, à Marseille ou dans le monde entier, grâce aux certifications SSI et FFESSM, reconnues comme des niveaux de plongeur d’excellence.</p>
    </div>

    <br>

    <div class="prestaboxes">
      <div class="box bapt">
        <%#= image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1669073778/ptm/pexels-matt-botha-4777687_1_vx3fpd.jpg', width:400, height:600 %>

        <p class='up'>Pour les p'tits nouveaux </p>
        <h4><%= link_to 'Baptême de plongée', '#' %> </h4>
        <p> Passez sous la surface <br>et découvrez un monde merveilleux!</p>
      </div>
      <div class="box open">
         <%#= image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1669073782/ptm/pexels-daniel-torobekov-4628391_1_aswev6.jpg', width:400, height:600 %>

        <p class='up'>C'est parti pour la découverte!</p>
        <h4> <%= link_to'Open Water','#' %> </h4>
        <p> Obtenez le premier niveau de plongeur <br> pour plonger jusqu’à 18m <br>dans toutes les mers du globe.</p>
      </div>
      <div class="box open2">
         <%#= image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1669073786/ptm/pexels-pia-3046582_1_s21rty.jpg', width:400 , height:600%>
        <p class='up'> A vous de choisir !  </p>
        <h4><%= link_to'Advanced Open Water','#' %> </h4>
        <p>Découvrez les différentes spécialités de la plongée <br>pour mieux orienter votre carrière de plongeur.</p>
      </div>
      <div class="box n2">
       <%#= image_tag 'https://res.cloudinary.com/dhxefoe7j/image/upload/v1669073958/ptm/cuuut_mcvdme_98fb78.png', width:400, height:600 %>

        <p class='up'>En route vers l'aventure !</p>
        <h4> <%= link_to'Niveau 2','#' %> </h4>
        <p> Accédez à l’autonomie et à la profondeur <br>dans une formation exigeante.</p>
      </div>
    </div>

  </div>
  <br>

  <div class="bonus">
    <h3 class ="orange">Plongez dans un Parc National</h3>
    <p>Avec sa localisation idéale sur le Port de la Pointe Rouge, à l'entrée du Parc National des Calanques,
    <br>
    Plongée Loisir Marseille vous permet de découvrir la Méditerranée comme vous ne l’avez jamais vue ! <br>
      Découvrez des épaves de légende, des tombants de gorgones vertigineux, <br>
      des grottes marines fascinantes, et bien plus encore !</p>
  </div>
  <br>

  <div class="down">
    <h3 class = "orange">Vous voulez réserver ? Rien de plus simple ! <br> Contactez nous au 07 66 86 25 63 ou réservez en ligne votre aventure</h3>
  </div>
  <br>




</div>
